In [8]:
source setup.tcl

In [9]:
aoc::get-puzzle 2020 1 1

In [11]:
set input [aoc::get-input 2020 1];
puts [string range $input 0 100]...

1470
1577
1054
1962
1107
1123
1683
1680
1176
1917
1786
1565
1464
1097
1363
1091
1072
1821
1514
1526
1...

In [12]:
set data [split [string trim $input] \n];

In [13]:
aoc::get-puzzle 2020 1 2

In [14]:
proc parts data {
    set data [lsort -integer $data]
    set l [llength $data]
    set d1 false
    set d2 false
    for {set x 0} {$x < $l} {incr x} {
        if {$d1 && $d2} return
            for {set y [expr {$x+1}]} {$y < $l} {incr y} {
                set a [lindex $data $x]
                set b [lindex $data $y]
                if {$a + $b > 2020} break
                 if {!$d1 && $a+$b == 2020} {
                    puts  Part1:\t[ * $a $b ]
                    set d1 true
                }
                for {set z [expr {$y+1}]} {$z < $l} {incr z} {
                    set c [lindex $data $z]  
                    if {!$d2 && $a+$b+$c == 2020} {
                    puts  Part2:\t[* $a $b $c]
                    set d2 true
                   
                }           
            }
        }
    }
}
time {parts $data}

Part2:	173538720
Part1:	618144

18617 microseconds per iteration

# Approach with sets

In [15]:
set sdata [lsort -unique $data]

1054 1072 1085 1089 1091 1094 1097 1100 1107 1116 1118 1122 1123 1143 1148 1153 1169 1176 1187 1193 1198 1205 1214 1216 1221 1230 1232 1243 1245 1249 1251 1254 1256 1259 1262 1263 1271 1273 1282 1283 1284 1285 1288 1301 1302 1306 1314 1315 1318 1323 1324 1325 1331 1332 1335 1337 1346 1347 1352 1354 1363 1364 1365 1370 1373 1380 1386 1390 1397 1400 1417 1434 1435 1436 1439 1445 1457 1464 1467 1470 1474 1476 1479 1480 1483 1487 1489 1504 1505 1514 1517 1518 1521 1526 1529 1544 1547 1553 1561 1565 1567 1570 1577 1584 1586 1594 1602 1603 1606 1609 1611 1622 1628 1631 1633 1635 1642 1644 1648 1653 1654 1655 1658 1663 1665 1667 1676 1678 1680 1682 1683 1687 1699 1717 1718 1721 1730 1732 1735 1738 1740 1742 1750 1769 1770 1771 1774 1780 1785 1786 1808 1819 1821 1832 1833 1844 1849 1852 1854 1855 1863 1864 1882 1889 1891 1894 1900 1901 1903 1906 1911 1917 1927 1938 1945 1953 1955 1961 1962 1965 1968 1969 1973 1974 1977 1981 1991 1993 1996 2001 2006 2008 2010 289 376 480 490 835 92 957

In [16]:
set sdata [lsort -unique $data]


proc spart {data} {
    set d1 false
    set d2 false
    set l [llength $data]
    for {set i 0} {$i < $l} {incr i} {
        if {$d1 && $d2} {return}
        set x [lindex $data $i]
        set rest [expr {2020 - $x}] 
        if {!$d1 && ($rest in $data) } {puts spart1:\t[expr {$x * $rest}] ; set d1 true}
         for {set j $i} {$j < $l} {incr j} {
            set y [lindex $data $j]
            set z [expr {$rest - [lindex $data $j]}]
            if {!$d2 && ($z in $data) } {puts spart2\t[expr {$x * $y * $z}]; set d2 true  }
        }
        
    }
    
}

time {spart $sdata}

spart2	173538720
spart1:	618144

27979 microseconds per iteration